{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% bootstrap_messages %}

{% load crispy_forms_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title> Avis </title>
    <link rel="stylesheet" href="{% static 'css/style_feedback.css' %}">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/sign-in/">

</head>

{% include "location_site/templates/sites/navbar.html" %}

<body class="index">

{% block content %}

    <div class="feedback">
        <div class="retour_location"> 
            <div class="entete"> 
                <h3> Location  </h3> 
                {% if avg_rating_location is not None%}
                    {{avg_rating_location}} &#9733;
                {% else %}
                    Pas noter
                {% endif %}
            </div>            
            <hr>
            <div class="comments-wrapper">
                <div class="comments">
                    {% for comment_location in comments_location %}
                        <div class="comment">
                            <p> Publié par : <b> {{comment_location.user}} </b> le <i> {{comment_location.date_added|date:"d/m/y"}} </i> <h6 >{{comment_location.rating}}&#9733;</h6> </p>
                        </div>
                        <div class="text">
                            <p> {{comment_location.text}} </p>
                        </div>
                        <hr width='50%'>
                    {% empty %}
                        <p> Aucun commentaire pour le moment. </p>
                        <hr width='50%'>
                    {% endfor %}
                </div>
            </div>
            <div class="commentary">
                <hr>
                <form method="post" class="form">
                    <div class="toke">
                        {% csrf_token %}
                        {{ form_location.as_p }}
                    </div>
                    {% buttons %}
                    <br>
                    <button class="btn button" type="submit" text-align="center" name="form_type" value="location">
                        Commenter
                    </button>
                    {% endbuttons %}
                </form>
            </div>
        </div>


        <div class="retour_site">
            <div class="entete"> 
                <h3> Site  </h3>
                {% if avg_rating_site is not None %}
                    {{avg_rating_site}} &#9733;
                {% else %}
                    Pas noter
                {% endif %}
            </div>
            <hr>
            <div class="comments-wrapper">
                <div class="comments">
                    {% for comment in comments %}
                        <div class="comment">
                            <p> Publié par : <b> {{comment.user}} </b> le <i> {{comment.date_added|date:"d/m/y"}} </i> <h6>{{comment.rating}}&#9733; <h6></p>
                        </div>
                        <div class="text">
                            <p> {{comment.text}} </p>
                        </div>
                        <hr width='50%'>
                    {% empty %}
                        <p> Aucun commentaire pour le moment. </p>
                        <hr width='50%'>
                    {% endfor %}
                </div>
            </div>
            <div class="commentary">
                <hr>
                <form method="post" class="form">
                    <div class="toke">
                        {% csrf_token %}
                        {{ form.as_p }}
                    </div>
                    {% buttons %}
                    <br>
                     <button class="btn button" type="submit" text-align="center" name="form_type" value="site">
                         Commenter
                     </button>
                     {% endbuttons %}
                </form>
            </div>
        </div>
    </div>    
{% endblock %}

</body>

{% include "location_site/templates/sites/footer.html" %}

</html>