{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/style_base.css' %}">

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home:Home-index' %}"> {% bootstrap_icon "home" %} &nbsp; Home </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!-- Ajouter le class if à chaque partie qui m'intéresse -->
        <li class="{% if request.path == '/feed/' %} active {% endif %}"><a href="{% url 'feed:feed-home' %}"> Pr&eacute;sentation <span class="sr-only">(current)</span></a></li>
        <li class="{% if request.path == '/localisation/' %} active {% endif %}"><a href="{% url 'locate:localisation' %}"> Carte <span class="sr-only">(current)</span></a></li>
        <li class="{% if request.path == '/Activite/' %} active {% endif %}"><a href="{% url 'Activite:activities' %}"> Activit&eacute;s <span class="sr-only">(current)</span></a></li>
        <!--<li class="{% if request.path == '/Presentation/' %} active {% endif %}"><a href="{% url 'presentation:index' %}"> Qui sommes-nous ? <span class="sr-only">(current)</span></a></li>--> 
        <li class="{% if request.path == '/feedback/' %} active {% endif %}"><a href="{% url 'feedback:feedback-home' %}"> Votre avis <span class="sr-only">(current)</span></a></li>
        <li class="dropdown" id="dropdownMenuButton">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Utilisateur <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="dropdown-header"> Connexion </li>
            <li role="separator" class="divider"></li>
            {% if user.is_authenticated %}
              <li><a class="dropdown-item" href="{% url 'Login:login-logout' %}"> Se déconnecter</a></li>
            {% else %} 
              <li><a class="dropdown-item" href="{% url 'Login:login-subscribe' %}"> S'inscrire</a></li>
              <li><a class="dropdown-item" href="{% url 'Login:login-login' %}"> Se connecter</a></li>
            {% endif %}
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- script JS qui permet d'afficher le contenu de la liste déroulante quand on clique sur utilisateur -->
<script>
    var boutonDropDown = document.getElementById("dropdownMenuButton");
    var dropdownmenu = document.querySelector(".dropdown-menu");
    boutonDropDown.addEventListener("click", function(){
        dropdownmenu.classList.toggle("show");
    });
</script>