{% load bootstrap3 %}
{% load crispy_forms_tags %}

{% load static %}

{% include "location_site/templates/sites/navbar.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Réinitialisation </title>
    <link rel="stylesheet" href="{% static 'css/reset_password_done.css' %}">
</head>

<body class="index"> 
    {% block content %}
        <h1>L'email pour réinitialiser votre mot de passe a été envoyé</h1>
        <p> Nous vous avons envoyé un email avec les instructions pour réinitialiser votre mot de passe </p>
    {% endblock %}
</body>
{% include "location_site/templates/sites/footer.html" %}
