{% load bootstrap3 %}
{% load crispy_forms_tags %}

{% load static %}

{% include "location_site/templates/sites/navbar.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Réinitialisation </title>
    <link rel="stylesheet" href="{% static 'css/reset_password.css' %}">
</head>

<body class="index"> 
    {% block content %}
        <br><br><br><br>
        <h1 class="titre"> Veuillez confirmer la réinitialisation de votre mot de passe </h1>
        <div class="liste">
            <div class="col-8">
                <div class="card">
                    <div class="card-body">
                        <div class="form">
                            <form method="post">
                                <div class='mail'>
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                </div>
                                <br>
                                {% buttons %}
                                <button class="btn button" type="submit", text-align="center">
                                    Confirmez la réinitialisation
                                </button>
                                {% endbuttons %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
</body>
{% include "location_site/templates/sites/footer.html" %}
