{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title> Présentation </title>
    <link rel="stylesheet" href="{% static 'css/style_feed.css' %}">
</head>

{% include "location_site/templates/sites/navbar.html" %}

<body class="index">

    <div class="introduction">
        <h3 class="title"> Maison de vacances en montagne : découvrez notre charmante location à Petch </h3> 
        <p class="contain"> Notre charmante maison de vacances à Petch vous accueille pour un séjour inoubliable en montagne. Idéale pour une semaine de détente en famille ou entre amis, cette spacieuse maison peut accueillir jusqu'à 8 personnes. </p>
        <p class="contain"> Située aux abords d'une forêt, c'est une maison confortable et chaleureuse, idéal pour retrouver le calme de la campagne. Vous pourrez profiter de tous les équipements nécessaires pour passer des vacances sans soucis, comme l'accès à Internet, à la télévision ainsi que différentes activités à proximiter comme les sources chaudes, la randonnée et le ski. </p>
        <p class="contain"> Le prix de la location à la semaine est de 1200 euros, une excellente occasion de s'offrir un séjour de rêve en montagne. <p> 
        <p class="redirect"> N'hésitez plus et  &nbsp; <a href="https://www.amivac.com/rental/25bdd1843b0fa8a9?location=5460aeb1b0bf2&ref=https%3A%2F%2Fwww.amivac.com%2Fsearch%2F5460aeb1b0bf2%3Fgpid%3DChIJc8kVelCdrxIRZDaSsIvhJ2Y"> réservez dès maintenant notre maison de vacances à Petch pour des vacances inoubliables </a> ! </p>
    </div>

    <br><br>
    
    <div class="container">
        <div class="presentation">
            <br>
            <div class="slider_page">
                <!-- Flèche pour chager d'écran qui est implémenter dans la div slider_page afin que la fonction JavaScript fonctionne -->
                <div class="indicateur">
                    <p class="indicateur_sentence"> Cliquez sur les flèches pour avoir différents informations entre le rez de chaussée et le sous-sol. </p>
                    <div class="button_switch">
                        <button class="prev-page">&lt;</button>
                        <button class="next-page">&gt;</button>
                    </div>
                </div>
                <hr> 
                <div class="slide_page">
                    <div class="pres_loc">
                        Rez de chaussé 
                    </div>
                    <br>
                    <div class="title"> 
                        <h4> Cuisine toute équipée et ouverte sur le salon : cuisinez tout en profitant de votre séjour <h4>
                    </div>
                    <br>
                    <div class="cuisine">
                        <div class="pres-cuisine">
                            
                            <p class="infos"> Notre cuisine est entièrement équipée pour que vous puissiez préparer de délicieux repas durant votre séjour. Vous y trouverez un four multifonction, idéal pour cuisiner toutes sortes de plats, ainsi qu'un lave-vaisselle pour faciliter le nettoyage. Les plaques chauffantes à induction vous permettront de cuisiner en toute sécurité et rapidement, tandis que le micro-ondes vous sera utile pour réchauffer vos plats ou pour cuisiner de manière plus rapide.</p>
        
                            <p class="infos"> La vaisselle est bien entendu incluse, et vous trouverez tout l'équipement nécessaire pour vous servir de tous les ustensiles de cuisine et de tous les appareils électroménagers. Nous avons pensé à tout pour que vous puissiez vous sentir comme chez vous et profiter pleinement de votre séjour en toute autonomie. </p>    
                        </div>
        
                        <div class="slider">
                            <div class="slide">
                                <img class="image" src="{% static 'Photos/P1040611.JPG' %}", height="250">
                            </div>
                        </div>
                    </div>  
                    <br><br>
                    <div class="title"> 
                        <h4> Salle à manger traditionnelle : pour un intérieur authentique et chaleureux <h4>
                    </div>
                    <br>
                    <div class="cuisine">
                        <div class="slider">
                            <div class="slide">
                                <img class="image2" src="{% static 'Photos/P1040583.JPG' %}", height="250">
                            </div>
                            <div class="slide">
                                <img class="image2" src="{% static 'Photos/IMG_0803.jpeg' %}", height="250">
                            </div>
                            <div class="slide">
                                <img class="image2" src="{% static 'Photos/IMG_0815.jpeg' %}", height="250">
                            </div>
                        </div>
                        <div class="pres-cuisine">
                            <br>
                            <p class="infos2"> Notre salle à manger est équipée d'une grande table en bois solide et élégante, dotée d'une rallonge pour accueillir confortablement jusqu'à 8 personnes. Cette table en bois est le lieu idéal pour partager de bons moments en famille ou entre amis, autour de délicieux repas ou de simples moments de convivialité. </p>
        
                            <p class="infos2"> La table est accompagnée de chaises confortables et assorties, pour que vous puissiez passer de longues heures à discuter et à profiter de la compagnie de vos proches sans vous ennuyer. </p>    
                       </div>
                    </div>
        
                    <br><br>
        
                    <div class="title"> 
                        <h4> Salon confortable avec cheminée : pour se relaxer devant un bon feu de bois <h4>
                    </div>
                    <br>
                    <div class="cuisine">
                        <div class="pres-cuisine">
                            <br><br>
                            <p class="infos"> Notre salon est un endroit idéal pour se détendre et se relaxer en famille ou entre amis. Équipé de 2 canapés confortables et moelleux, vous pourrez passer des heures à regarder la télévision ou à écouter de la musique grâce à notre système home cinéma de qualité. </p>
                            
                            <p class="infos"> La table basse est le lieu idéal pour poser vos verres et vos snacks, tandis que la cheminée crépite gentiment pour vous apporter une chaleur et une ambiance chaleureuse.</p>                    
                        </div>
                        <div class="slider">
                            <div class="slide">
                                <img class="image" src="{% static 'Photos/P1040608.JPG' %}", height="250">
                            </div>
                        </div>
                    </div>
        
                    <br><br>
        
                    <div class="title"> 
                        <h4> Mezzanine cosy avec deux lits : l'endroit idéal pour passer des nuits paisibles en famille ou entre amis <h4>
                    </div>
                    <br>
                    <div class="cuisine">
                        <div class="slider">
                            <div class="slide">
                                <img class="image2" src="{% static 'Photos/IMG_0784.jpeg' %}", height="250">
                            </div>
                        </div>
                        <div class="pres-cuisine">
                            <p class="infos2"> Notre cuisine est entièrement équipée pour que vous puissiez préparer de délicieux repas durant votre séjour. Vous y trouverez un four multifonction, idéal pour cuisiner toutes sortes de plats, ainsi qu'un lave-vaisselle pour faciliter le nettoyage. Les plaques chauffantes à induction vous permettront de cuisiner en toute sécurité et rapidement, tandis que le micro-ondes vous sera utile pour réchauffer vos plats ou pour cuisiner de manière plus rapide.</p>
        
                            <p class="infos2"> La vaisselle est bien entendu incluse, et vous trouverez tout l'équipement nécessaire pour vous servir de tous les ustensiles de cuisine et de tous les appareils électroménagers. Nous avons pensé à tout pour que vous puissiez vous sentir comme chez vous et profiter pleinement de votre séjour en toute autonomie." </p>    
                        </div>
                    </div>
        
                    <br><br>
        
                    <div class="title"> 
                        <h4> Terrasse/balcon en bois : pour profiter de la vue et de la nature en toute tranquillité <h4>
                    </div>
                    <br>
                    <div class="cuisine">
                        <div class="pres-cuisine">
                            <p class="infos"> Notre salle à manger est équipée d'une grande table en bois solide et élégante, dotée d'une rallonge pour accueillir confortablement jusqu'à 8 personnes. Cette table en bois est le lieu idéal pour partager de bons moments en famille ou entre amis, autour de délicieux repas ou de simples moments de convivialité. </p>
        
                            <p class="infos">Notre location d'appartement propose une terrasse balcon spacieuse avec vue sur la forêt et le terrain environnant. Cette terrasse offre un espace extérieur confortable pour profiter de moments de détente en plein air. Équipée d'une grande table, elle est parfaite pour des repas en extérieur ou pour des apéros entre amis. La vue sur la nature qui s'offre aux locataires depuis la terrasse sera certainement appréciée. Cet espace extérieur est un véritable atout pour les locataires, qui peuvent profiter de la vue sur la nature tout en se détendant et en se faisant plaisir. </p>
                        </div>
        
                        <div class="slider">
                            <div class="slide">
                                <img class="image" src="{% static 'Photos/IMG_0811.jpeg' %}", height="250">
                            </div>
                        </div>
                    </div>
        
                    <br><br>        
                </div>
                <div class="slide_page">
                    <div class="pres_loc2">
                        Sous-sol
                    </div>
                    <br>
                    <div class="title"> 
                        <h4> Un coin tranquille pour vous et vos amis : deux chambres et une terrasse à disposition <h4>
                    </div>
                    <br>
                    <div class="cuisine">
                        <div class="pres-cuisine">  
                            <br><br>
                            <p class="infos"> Notre hébergement de deux chambres et terrasse ensoleillée est l'endroit idéal pour se détendre et se reconnecter avec la nature. Chacune des deux chambres est équipée d'armoires et de tables de chevet, offrant un espace de rangement pratique pour les effets personnels. La terrasse, qui donne sur la forêt environnante, est le lieu idéal pour se détendre et profiter de la nature environnante. Avec un accès facile entre les deux chambres, il est facile de se retrouver entre amis et de passer un séjour inoubliable en plein air. </p>
                        </div>
        
                        <div class="slider">
                            <div class="slide">
                                <img class="image" src="{% static 'Photos/IMG_3055.jpeg' %}", height="250">
                            </div>
                            <div class="slide">
                                <img class="image" src="{% static 'Photos/IMG_3059.jpeg' %}", height="250">
                            </div>
                            <div class="slide">
                                <img class="image" src="{% static 'Photos/IMG_3050.jpeg' %}", height="250">
                            </div>
                        </div>
                    </div>  
                    <br><br>
                    <div class="title"> 
                        <h4> Intimité assurée : deux espaces distincts pour la salle de bain et les toilettes dans notre hébergement <h4>
                    </div>
                    <br>
                    <div class="cuisine">
                        <div class="slider">
                            <div class="slide">
                                <img class="image2" src="{% static 'Photos/IMG_3064.jpeg' %}", height="250">
                            </div>
                            <div class="slide">
                                <img class="image2" src="{% static 'Photos/IMG_3065.jpeg' %}", height="250">
                            </div>
                            <div class="slide">
                                <img class="image2" src="{% static 'Photos/IMG_3066.jpeg' %}", height="250">
                            </div>
                            <div class="slide">
                                <img class="image2" src="{% static 'Photos/IMG_3058.jpeg' %}", height="250">
                            </div>
                        </div>
                        <div class="pres-cuisine">
                            <br>
                            <p class="infos2"> Notre location de vacances est équipée d'une salle de bain complète avec tous les équipements nécessaires pour rendre votre séjour agréable. Elle dispose de lavabos pratiques avec des placards de rangement pour les articles de toilette, un grand miroir pour une préparation facile et un chauffage pour une ambiance confortable. Les toilettes sont séparées de la salle de bain, vous offrant plus d'intimité et de commodité pendant votre séjour. Nous sommes convaincus que ces équipements rendront votre séjour chez nous plus confortable et pratique. </p>
                       </div>
                    </div>
        
                    <br><br>
        
                    <div class="title"> 
                        <h4> Découvrez ce qui fait son charme : les détails cachés de notre hébergement <h4>
                    </div>
                    <br>
                    <div class="cuisine">
                        <div class="pres-cuisine">
                            <p class="infos"> Veuillez noter que pour accéder aux chambres et aux toilettes, vous devrez descendre un escalier. Cet escalier est sûr et facile à utiliser, mais il peut ne pas convenir aux personnes à mobilité réduite. Nous tenons à souligner que les chambres et les toilettes sont bien aérées et bien éclairées, avec des fenêtres pour la lumière naturelle. En outre, notre location de vacances est équipée d'une machine à laver pour votre commodité. À proximité des chambres et des toilettes, pour un accès facile et pratique.</p>
                            <p class="infos"> Notre location de vacances dispose également d'un grand espace extérieur, entouré de verdure et de terrain, pour que vous puissiez vous détendre et profiter de la nature.</p>
                        </div>
                        <div class="slider">
                            <div class="slide">
                                <img class="image" src="{% static 'Photos/P1040600.JPG' %}", height="250">
                            </div>
                            <div class="slide">
                                <img class="image" src="{% static 'Photos/IMG_3053.jpeg' %}", height="250">
                            </div>
                            <div class="slide">
                                <img class="image" src="{% static 'Photos/IMG_3048.jpeg' %}", height="250">
                            </div>
                        </div>
                    </div>
                    <br><br>
                </div>
            </div>
        </div>

    </div>

    <br><br><br>

    <script>

        const slides_page_dft = document.querySelectorAll(".slider_page .slide_page");
        const firstSlide_page = slides_page_dft[0];
        firstSlide_page.classList.add("active");
         
        // Permettre de changer de page / Ajout pour des flèches avec le même principe mais pour des images ne marchent pas 
        const slider_page = document.querySelector('.slider_page');
        const prevButton_page = slider_page.querySelector('.prev-page');
        const nextButton_page = slider_page.querySelector('.next-page');
        const slides_page = slider_page.querySelectorAll('.slide_page');

        let currentSlide_page = 1;

        function showSlide_page(n) {
        slides_page[currentSlide_page].style.display = 'none';
        currentSlide_page = (n + slides_page.length) % slides_page.length;
        slides_page[currentSlide_page].style.display = 'block';
        }

        prevButton_page.addEventListener('click', () => {
            showSlide_page(currentSlide_page - 1);
        });

        nextButton_page.addEventListener('click', () => {
            showSlide_page(currentSlide_page + 1);
        });
        
    </script>


</body>

{% include "location_site/templates/sites/footer.html" %}

</html>
