{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title> Activités </title>
    <link rel="stylesheet" href="{% static 'css/style_activite.css' %}">
</head>

{% include "location_site/templates/sites/navbar.html" %}

<body class="index">

    <div class="Activity">
        <div class="slider_page">
            <div class="slide_page">
                <br>
                <div class="title">
                    <h1> La maison des loups </h1>
                </div>
                <br>
                <div class="content">
                    <p class="contain"> C'est un parc animalier qui est consacré aux loups. Ce parc est situé en pleine forêt. Les visiteurs pourront observer des meutes de loups d'Europe, de Pologne, du Canada et de l'Arctique dans un environnement naturel préservé. Des moments de nourrissage permettront de mieux connaître ces animaux. Le parc propose également une mini-ferme avec des animaux domestiques et des activités de loisirs telles que des sentiers de découverte, un auditorium, des aires de pique-nique et un restaurant avec une terrasse couverte. Le parc est ouvert d'avril à novembre, avec des horaires variables en fonction de la période de l'année. Une partie du parc est accessible aux personnes à mobilité réduite et des services spéciaux sont disponibles pour les enfants scolarisés. Le parc est en cours d'aménagement depuis avril 2022 pour intégrer les espaces du projet Vallées Ingénieuses.</p>
                    <p class="redirect"> Leur site web se trouve &nbsp; <a href="http://www.maisondesloups.com/"> ici </a>. </p>
                </div>
                <br>
                <div class="image">
                    <img class="img" src="{% static 'image_localisation/loup1.jpeg' %}">
                    <img class="img" src="{% static 'image_localisation/loup2.jpeg' %}">
                    <img class="img" src="{% static 'image_localisation/loup3.jpeg' %}">
                    <img class="img" src="{% static 'image_localisation/loup4.jpeg' %}">
                </div>
                <br><br>
            </div>
            <div class="slide_page">
                <br>
                <div class="title">
                    <h1> Parc Akrobranch d'Orlu </h1>
                </div>
                <br>
                <div class="content">
                    <p class="contain"> Le Parc Akrobranche est un grand parc de 6 hectares situé dans une hêtraie centenaire, proposant 14 parcours et 215 plateformes de jeux, dont 18 tyroliennes. Les parcours sont classés en fonction de la couleur, de l'âge et de la taille. Les forfaits comprennent des options de demi-journée, journée entière et 3 heures l'après-midi en haute saison. 
                    Le parc propose également la Clairière des Pitchouns, un espace de jeux pour les enfants de 2 à 12 ans avec des parcours au sol, un labyrinthe et des balançoires. 
                    L'espace Paintball, inspiré d'Indiana Jones, est accessible à partir de 8 ans et offre des séances guidées avec 200 à 400 billes. 
                    Le canyon d'Orlu traverse le parc et propose l'activité de canyoning en été pour les plus de 14 ans avec une expérience préalable de canyoning. 
                    Le Sentier des Cascades est un sentier aménagé pour une promenade ressourçante le long des cascades de l'Oriège, accessible gratuitement et convient particulièrement aux accompagnateurs des accrobranchés. </p>
                        
                    <p class="redirect"> Leur site web se trouve &nbsp; <a href="https://www.akrobranchdorlu.com/"> ici </a>. </p>
                </div>
                <br>
                <div class="image">
                    <img class="img" src="{% static 'image_localisation/Akrobranch.jpeg' %}">
                    <img class="img" src="{% static 'image_localisation/Paintball.jpeg' %}">
                    <img class="img" src="{% static 'image_localisation/Canyoning.jpeg' %}">
                    <img class="img" src="{% static 'image_localisation/Cascade.jpeg' %}">
                </div>
                <br><br>
            </div>
            <hr>
            <div class="footer-div">
                <p class="info">Cliquez sur les flèches pour changer d'activité. <p>
                <div class="button_switch">
                    <button class="prev-page">&lt;</button>
                    <button class="next-page">&gt;</button>
                </div>
           </div>
        </div>
    </div>

    <script>

        const slides_page_dft = document.querySelectorAll(".slide_page");
        const firstSlide_page = slides_page_dft[0];
        firstSlide_page.classList.add("active");
         
        // Permettre de changer de page / Ajout pour des flèches avec le même principe mais pour des images ne marchent pas 
        const slider_page = document.querySelector('.slider_page');
        const prevButton_page = slider_page.querySelector('.prev-page');
        const nextButton_page = slider_page.querySelector('.next-page');
        const slides_page = slider_page.querySelectorAll('.slide_page');

        let currentSlide_page = 0;

        function showSlide_page(n) {
            slides_page[currentSlide_page].style.display = 'none';
            currentSlide_page = (n + slides_page.length) % slides_page.length;
            slides_page[currentSlide_page].style.display = 'block';
        }

        prevButton_page.addEventListener('click', () => {
            showSlide_page(currentSlide_page - 1);
        });

        nextButton_page.addEventListener('click', () => {
            showSlide_page(currentSlide_page + 1);
        });
        
    </script>
</body>

{% include "location_site/templates/sites/footer.html" %}

</html>